ul li{
    width:45%;
    float:left;
    list-style: none;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: lightgrey;
    font-family: inherit;
}

div{
    width:100%;
}

@media only screen and (max-width: 800px) {
    ul{
       text-align: center;
    }
    ul li{
        padding: 0;
        width: 100%;
    display: inline;
    margin-left: -4%;
    box-sizing: border-box;
    }
  }

  /* @media only screen and (min-width: 600px) and (max-width:800px){
    ul{
        text-align: center;
     }
    ul li{
        width: 50%;
        float:left;
        list-style: none;
        padding: 10px;
        margin: 20px;
        border-radius: 10px;
        background-color: lightgrey;
        font-family: inherit;
    }
  } */